.wrapper_cart{
    padding: 16px 64px;
}

.wrapper_cart .cart_products{
    display: grid;
    grid-template-columns: auto 30%;
    gap: 24px;
}

.wrapper_cart .cart_products .check_out{
    background: #F9F1E7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 0px;
}

.wrapper_cart .cart_products .check_out h2{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
}

.wrapper_cart .cart_products .check_out .subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 24px;
}

.wrapper_cart .cart_products .check_out .subtotal p{
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.wrapper_cart .cart_products .check_out .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 32px;
}

.wrapper_cart .cart_products .check_out .total p{
    color: #B88E2F;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.wrapper_cart .cart_products .check_out h4{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.button_transparent{
    background: transparent;
}