.wrapper_discover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 32px;
}

.wrapper_discover .discover{
    width: 45%;
    background: #FFF3E3;
    border-radius: 10px;
    padding: 24px;
}

.discover .label{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.discover h1{
    font-weight: 700;
    color: #B88E2F;
    line-height: 40px;
    margin-bottom: 8px;
}

.discover .description{
    margin-bottom: 32px;
}
