.wrapper_table {
    height: 500px;
    overflow-y: auto;
}

/* Modificar scroll de la tabla */
.wrapper_table::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
    background: #f4f5f7;
}

.wrapper_table::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.wrapper_table::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.wrapper_table table {
    width: 100%;
    border-collapse: collapse;
}

.wrapper_table table thead{
    background: #F9F1E7;
    margin-bottom: 24px;
    position: sticky;
    top: 0;
}

.wrapper_table table thead th{
    padding: 16px 8px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.1px;
}

.wrapper_table table tbody tr .custom_content{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0px;
    color: #9F9F9F;
    font-weight: 400;
}

.wrapper_table table tbody tr:hover{
    background: #F4F5F7;
}

.wrapper_table .custom_content .title:hover {
    text-decoration: underline;
}