.wrapper_viewer_images{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.list_images{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wrapper_viewer_images .list_images_movil{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    justify-items: center;
}