.chekout_wrapper{
    padding: 16px 64px;
}

.chekout_wrapper .content_checkout{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 32px;
}

.confirm .list_products_checkout .content_space_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.confirm .list_products_checkout .titles h3{
    font-size: 20px;
    font-weight: 500;
}

.confirm .list_products_checkout .product{
    color: #9f9f9f;
    font-weight: 400;
    font-size: 16px;
}

.confirm .list_products_checkout .product span{
    color: #000000;
}

.confirm .list_products_checkout .product .price_product,
.confirm .list_products_checkout .subtotal .amount_subtotal{
    color: #000000;
    font-weight: 300;
    font-size: 16px;
}
.confirm .list_products_checkout .subtotal h4,
.confirm .list_products_checkout .total h4{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}

.confirm .list_products_checkout .total .amount_total{
    font-size: 24px;
    font-weight: 700;
    color: #B88E2F;
}

.confirm .divider {
    border-top: 1px solid #D9D9D9;
    margin: 16px 0px;
}

.confirm .privacy_policy p {
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}

.confirm .privacy_policy span {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}